<div class="login-container">
    <form [formGroup]="loginForm">
        <div class="form-feild-group">
            <input type="text" placeholder="Username" aria-label="username" formControlName="username"/>
            <div class="feild-validation-error" *ngIf="loginForm.controls['username'].touched && loginForm.controls['username'].errors?.['required']">
                Required
            </div>
        </div>
        <div class="form-feild-group">
            <input type="password" placeholder="Password" aria-label="password" formControlName="password"/>
            <div class="feild-validation-error" *ngIf="loginForm.controls['password'].touched && loginForm.controls['password'].errors?.['required']">
                Required
            </div>
        </div>
        <button class="form-feild-button" (click)="handleLogin()" [ngClass]="{disabled: disableButton || loginForm.controls['password'].errors}">Login</button>
    </form>
    <div class="error-login-status-text" *ngIf="loginStatus=='ErrorLogin'">
        {{
            loginErrorMessage
        }}
    </div>
    <div class="success-login-status-text" *ngIf="loginStatus=='LoggedIn'">
        Login Succesfull
    </div>
</div>
