<div class="dashboard-container">
    <div class="loader-container" *ngIf="showLoader">
        <div class="loader-container-text">
            Loading
        </div>
    </div>
    <div class="user-details-container" *ngIf="!showLoader && currentUserDetails && referralDetails">
        <div class="user-welcome-text">
            Welcome {{currentUserDetails.fname || ''}} {{currentUserDetails.lname || ''}}
        </div>
        <div class="user-referral-text" *ngIf="currentUserDetails.referralCode">
            Your Referral Code is {{currentUserDetails.referralCode}}
        </div>
        <div class="user-total-referral-point" *ngIf="currentUserDetails.referralCode">
            Your have earned a total of {{totalReferralPoints}} pts
        </div>
    </div>
    <div class="user-referral-details-container" *ngIf="!showLoader && currentUserDetails && referralDetails">
        <table class="user-referral-table">
        <tr class="user-referral-table-row"><th class="user-referral-table-head">Referred User</th><th class="user-referral-table-head">Point Earned</th><th class="user-referral-table-head">Referred Date</th></tr>

       <tr class="user-referral-table" *ngFor="let user of referralDetails">
        <td class="user-referral-table-data">{{user.refferedUser.fname}} {{user.refferedUser.lname}}</td><td class="user-referral-table-data">{{user.referralPoints}} pts</td><td class="user-referral-table-data">{{user.referredDate}}</td>
       </tr>
    </table>
    </div>
    <div class="user-error-container" *ngIf="!showLoader && (!currentUserDetails || !referralDetails)">
        Couldn't get the user details.......
        Please try again after some time
    </div>
</div>